@use './stylesheets/base.scss';
@use './stylesheets/menu.scss';
@use './stylesheets/button.scss';
@use './stylesheets/product.scss';
@use './stylesheets/footer.scss';

.product{
    padding: 0vw 3vw 3vw 3vw;
    p, h2{
        padding: 2vw 0vw 2vw 1vw;
    }
    p{
        font-size: 1.5vw;
        text-align: center;
        margin: 0;
    }
    &--image{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:0.5vw;
        p{
            font-size: 1.5vw;
            padding: 0vw;
        }
        .price{
            color: rgb(179, 179, 179);
        }
    }
}

.desktop{
    display: none;
}

#sofa--1:hover{
    content: url("./assets/products/1/product-hover.webp");
}

#sofa--2:hover{
    content: url("./assets/products/2/product-hover.webp");
}

#sofa--3:hover{
    content: url("./assets/products/3/product-hover.webp");
}

#sofa--4:hover{
    content: url("./assets/products/4/product-hover.webp");
}

#sofa--5:hover{
    content: url("./assets/products/5/product-hover.webp");
}

#sofa--6:hover{
    content: url("./assets/products/6/product-hover.webp");
}

#sofa--7:hover{
    content: url("./assets/products/7/product-hover.webp");
}

#sofa--8:hover{
    content: url("./assets/products/8/product-hover.webp");
}

#sofa--9:hover{
    content: url("./assets/products/1/product-hover.webp");
}

@media all and (min-width:768px) {
    
    .desktop{
        display: flex;
    }
    .product{
        align-items: flex-start;
        &--image{
            align-items: flex-start;
        }
        p{
            text-align: start;
        }
        .text{
            padding: 0 50vw 3vw 1vw;
        }
    }
}