@use './stylesheets/base.scss';
@use './stylesheets/menu.scss';
@use './stylesheets/button.scss';
@use './stylesheets/product.scss';
@use './stylesheets/footer.scss';

$orange-back:rgba(236, 184, 89, 0.555);
$white-letter:white;

p, h2{
    padding: 6vw 0;
}
p{
    margin: 0;
}

.banner{
    width: 100%;
    min-height: 604px;
    background-image: url(./assets/header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &--info{
        position: absolute;
        bottom: 5%;
        left: 7%;
        h1{
            color: $white-letter;
            font-size: 5.5vw;
            padding-left: 0px;
        }
    }
}

.desktop{
    display: none;
}

.product{
    &--image{
        position: relative;
        p{
            position: absolute;
            bottom: -4vw;
            left: 2vw;
            font-size: 1.5vw;
        }
    }
}

.quality{
    background-color: $orange-back;
    padding: 5vw;
    margin-top: 10VW;
    &--module{
        img{
            max-width: 100%;
            object-fit: contain;
        }
        display: flex;
       p{
            font-size: 3vw;

            padding: 0vw 0vw 0vw 3vw;
       }
        padding-bottom: 5vw;
    }
    :nth-last-child(1){
        padding-bottom: 0vw;
    }
}

.decour{
    padding-bottom: 7vw;
    padding-left: 2vw;
    text-align: center;
    &--image{
        display: flex;
        gap: 3vw;
        overflow-x: auto;
        justify-content: flex-start;
        max-width: 100%;
        padding-bottom: 1vw;
    }
    & ::-webkit-scrollbar {
        width: 1em;
      }
      
    & ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }
      
    & ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: $orange-back;
      }
}

.ambid{
    background-color: $orange-back;
    padding: 5vw 20vw 5vw 5vw;
    position: relative;
    .underline {
        padding-left: 0px;
        text-decoration: underline;
        span{
            font-weight: 500;
            line-height: 3;
            letter-spacing: 2vw;
        }
        :nth-last-child(1){
            letter-spacing: 0vw;
        }
    }
    span{
        padding: 3vw 0;
        font-weight: 300;
        line-height: 2;
    }
    .bold{
        font-weight: bolder;
    }
    button{
        background-color: transparent;
        font-size: 2.5vw;
        font-weight: bolder;
        padding: 2vw 0;
    }
    .sofa{
        height: 50vw;
    }
   img{
        max-width: 75vw;
        max-height: 75vw;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.examples{
    text-align: center;
    &--categories{
        display: flex;
        gap: 16px;
        justify-content: center;
        flex-wrap: wrap;
        }
    &--image{
        width: calc(50% - 16px);
        height: auto;
        img{
            object-fit: contain;
            width: 100%;
        }
    }
}

.clip{
    text-align: center;
    padding: 0vw 2vw 7vw 2vw;
    video{
        padding-bottom: 2vw;
    }
}


@media all and (min-width:768px){
    .banner{
        background-image: url(./assets/splash-screen.webp);
        &--info{
            position: absolute;
            top: 5%;
            left: 3%;
            h1{
                font-size: 2vw;
            }
        }
    }
    .mobile{
        display: none;
    }

    .desktop{
        display: block;
    }
    .quality{
        display: flex;
        align-items: center;
        gap: 3vw;
        &--module{
            width: calc(1/3*100%);
            align-items: center;
            padding-bottom: 0vw;
            p{
                font-size: 1vw;
            }
        }
    }

    .ambid{
        padding: 5vw 60vw 5vw 5vw;
        .underline{
            span{
                letter-spacing: 1vw;
            }
        }
        span{
            font-size: 2vw;
        }
        button{
            font-size: 1.5vw;
        }
        .sofa{
            height: 10vw;
        }
        img{
            max-width: auto;
            max-height: 100%;
        }
    }

    .examples{
        &--categories{
            flex-wrap: nowrap;
            }
        &--image{
            width: calc(25% - 16px);
            height: auto;
            img{
                object-fit: contain;
                width: 100%;
            }
        }
    }
   
}

@media all and (min-width:1290px){
    .decour{
        &--image{
            justify-content: center;
        }
    }
}
