.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 1vw;
    width: 100%;
    &--rectangle{
        border-radius: 8px;
        background-color: rgba(181, 181, 181, 0.381);
        width: 95px;
        min-height: 30px;
    }
    &--sandwich{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
        background-color: inherit;
        border: 0px;
        .line{
            background-color: black;
            width: 18px;
            min-height: 3px;
            border-radius: 20px;
        }
    }
    &--sections{
        display: none;
    }
}

@media all and (min-width:768px){
    .menu{
        &--sandwich{
            display:none;
        }
        &--sections{
            display: flex;
            gap: 2vw;
            button{
                background-color: inherit;
                font-size: 1vw;
                padding: 1vw;
            }
            &--icon{
                height: 1vw;
                width: 1vw;
            }
        }
    }
}